extends layout

block navbar
    +navbar('links')

block content

    div.page-links

        div.page-header
            h1 Helpful Links

        div.panel-group(id="accordion")

            div.panel.panel-default

                div.panel-heading
                    h4.panel-title
                        a(data-toggle="collapse" data-parent="#accordion" href="#builders")
                            span.glyphicon.glyphicon-chevron-down
                            | Builders in Vista Entrada

                div#builders(class="panel-collapse collapse")

                    div.panel-body

                        div.row

                            div.col-md-6

                                a.thumbnail(href="#")

                                    img.img-rounded(src=url('images/builders/hayes-homes.jpg'))

                                a.thumbnail(href="http://www.lowe-bohomes.com/")

                                    img.img-rounded(src=url('images/builders/lowe-bo.jpg'))

                            div.col-md-6

                                a.thumbnail(href="https://www.homesbykimbrooks.com/")

                                    img.img-rounded(src=url('images/builders/homes-by-kim-brooks.png'))

                                a.thumbnail(href="https://www.hakesbrothers.com/")

                                    img.img-rounded(src=url('images/builders/hakes-brothers.png'))

            div.panel.panel-default

                div.panel-heading
                    h4.panel-title
                        a(data-toggle="collapse" data-parent="#accordion" href="#lenders")
                            span.glyphicon.glyphicon-chevron-down
                            | Lenders for Vista Entrada

                div#lenders(class="panel-collapse collapse")
                    div.panel-body

                        div.row

                            div.col-md-4

                                a.thumbnail(href="https://www.firstambank.com/personalbanking/")
                                    img.img-rounded(src=url('images/lenders/first-american-bank.png'))


            div.panel.panel-default

                div.panel-heading
                    h4.panel-title
                        a(data-toggle="collapse" data-parent="#accordion" href="#insurance")
                            span.glyphicon.glyphicon-chevron-down
                            | Title Companies for Vista Entrada

                div#insurance(class="panel-collapse collapse")

                    div.panel-body

                        div.row

                            div.col-md-4

                                a.thumbnail.first-american(href="http://www.firstam.com/title/nm/")
                                    img.img-rounded(src=url('images/insurance/first-american-title.png'))

                            div.col-md-4

                                a.thumbnail(href="http://www.oldrepublictitle.com/nmnational")
                                    img.img-rounded(src=url('images/insurance/old-republic.jpg'))

                            div.col-md-4

                                a.thumbnail.stewart-title(href="https://www.stewart.com/albuquerque")
                                    img.img-rounded(src=url('images/insurance/stewart-title.png'))

            div.panel.panel-default

                div.panel-heading
                    h4.panel-title
                        a(href="http://www.rrrcc.org/")
                            span.glyphicon.glyphicon-new-window
                            | Rio Rancho Chamber of Commerce

            div.panel.panel-default

                div.panel-heading
                    h4.panel-title
                        a(href="http://www.rrps.net/")
                            span.glyphicon.glyphicon-new-window
                            | Rio Rancho Schools

            div.panel.panel-default

                div.panel-heading
                    h4.panel-title
                        a(href="http://www.visitalbuquerque.org/")
                            span.glyphicon.glyphicon-new-window
                            | New Mexico Tourism
